<div class="bg-white shadow px-8 py-4 flex justify-between items-center">

<h1 class="text-2xl font-bold">
Complaint Management System
</h1>

<div class="flex items-center gap-4">

<span class="font-semibold">
Admin Panel
</span>

<a
href="/logout"
class="bg-red-600 text-white px-4 py-2 rounded">

Logout

</a>

</div>

</div>